<p>
 <b><%= addressbook.nazwisko %></b><br><%= addressbook.imie %>
</p>
<p class="links">
 <%= link_to "Show", addressbook_path(addressbook) %> |
 <%= link_to "Edit", edit_addressbook_path(addressbook) %> 
</p>
